@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
    --josefin: 'Josefin Sans', sans-serif;
    --almost-black: #252525;
    
}

body {
    font-family: var(--josefin);

}
